<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>PageOCR Demo</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Bootstrap CSS File -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.loader-wrapper').click(function() {
        $(this).addClass('loading');
      })
    });
  </script>
</head>

<body>
  <div class="container">
    <center class="mt-4">
      <span class="h1" style="color: #018db4">PageOCR Demo</span>
    </center>
    <br> <br>
    <div class="container">
      <center class="h3">Printed - Hindi</center>
      <hr>
      <div class="outer">
        {% for image in images %}
        <div class="inner m-2">
          <div class="loader-wrapper">
            <a href="/page?image={{ image }}&language=hindi">
              <img class="img-responsive border border-info rounded" src="/static/images/hindi/{{ image }}" alt="" width="250">
            </a>
            <div class="loader">
              <span></span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <footer class="footer">
      <p>Copyright &copy 2022 Internation Institute of Information Technology,Hyderabad.All rights reserved</p>
    <footer>
  </div>
</body>

</html>