{% extends 'base.html' %}

{% block content %}
<br>
<hr/>
<p>
  Harness natural language technologies to enable a diverse ecosystem of contributors, partnering entities and citizens for the purpose of transcending language barriers, thereby ensuring digital inclusion and digital empowerment in an AatmaNirbhar Bharat
  </p>
  <p>Create large open source datasets and models by bringing all contributions, both institutional and citizen, into a shared repository that nurtures innovation
</p>
<hr/>
  {% include "load_languages.html" %}
  
{% endblock %}